.toggle-button {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    padding: 2px;
    cursor: pointer;
  }
  
  .toggle-button .toggle-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
  
  .toggle-button.on {
    background-color: #4CAF50;
  }
  
  .toggle-button.on .toggle-text {
    left: 4px;
  }
  
  .toggle-button.off {
    background-color: #f60515;
  }
  
  .toggle-button.off .toggle-text {
    right: 4px;
  }
  